### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
total_players = len(df)
total_players

780

In [5]:
summary_table = pd.DataFrame({'Total_players' : total_players }, index = [0])
summary_table

   Total_players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = df.nunique().sum()
unique_items

1905

In [7]:
avg_price = round(df['Price'].mean(), 1)
avg_price

3.1

In [8]:
Num_of_Purchases = num_purchases = len(df)
Num_of_Purchases

780

In [9]:
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [10]:
summary_table2 = pd.DataFrame({'Number_of_Unique_Items': unique_items,
                              'Average_Price':avg_price,
                              'Number_of_Purchases': Num_of_Purchases,
                              'Total_Revenue': Total_Revenue}, index = [0])
summary_table2

   Number_of_Unique_Items  Average_Price  Number_of_Purchases  Total_Revenue
0                    1905            3.1                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [12]:
count = df['Gender'].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [18]:
data = df.groupby('SN').first().groupby('Gender').count()
# data = purchase_data.groupby('Gender').count()
data

                       Purchase ID  Age  Item ID  Item Name  Price
Gender
Female                          81   81       81         81     81
Male                           484  484      484        484    484
Other / Non-Disclosed           11   11       11         11     11

In [21]:
pf = df.loc[df["Gender"]== "Male"]
pf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
num_male = len(pf['SN'].unique())
num_male

484

In [23]:
total_players = len(df['SN'].unique())
total_players

576

In [24]:
male_pct = round((num_male/total_players) * 100 , 2)
male_pct

84.03

In [29]:
cf = df.loc[df["Gender"]== "Female"]
cf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [30]:
num_female = len(cf['SN'].unique())
num_female

81

In [31]:
female_pct = round((num_female/total_players) * 100 , 2)
female_pct

14.06

In [33]:
of = df.loc[df["Gender"] == "Other / Non-Disclosed"]
of.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [34]:
num_other = len(of['SN'].unique())
num_other

11

In [35]:
other_pct = round((num_other/total_players) * 100 , 2)
other_pct

1.91

In [36]:
total_list = [num_male, num_female, num_other]
total_list

[484, 81, 11]

In [37]:
pct_list = [male_pct, female_pct, other_pct]
pct_list

[84.03, 14.06, 1.91]

In [38]:
summary_purch = pd.DataFrame({"Total_Count" : total_list, "Percentage_of_Players" : pct_list})
summary_purch

   Total_Count  Percentage_of_Players
0          484                  84.03
1           81                  14.06
2           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
new_df = df.groupby(['Gender'], as_index = True)
new_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [40]:
purchase_count = new_df['SN'].nunique()
purchase_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [41]:
avg_purch = round(new_df['Price'].mean(), 2)
avg_purch

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [42]:
total_purch = new_df['Price'].sum()
total_purch

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [43]:
avg_total_purch = round(total_purch/purchase_count , 2)
avg_total_purch

Gender
Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [44]:
purchase_analysis_summary = pd.DataFrame({"Purchase_Count" : purchase_count,
                                         "Average_Purchase_Price" : avg_purch,
                                         "Total_Purchase_Value": total_purch,
                                         "Avg_Total_Purch_per_Person": avg_total_purch })
purchase_analysis_summary.head()

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Avg_Total_Purch_per_Person
Gender,,,,
Female,81,3.20,361.94,4.47
Male,484,3.02,1967.64,4.07
Other / Non-Disclosed,11,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [66]:
bins = [0,10,14,19,24,29,34,39,100]
group_names = ["0-10", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40+"]

In [67]:
df["age_group"] = pd.cut(df["Age"], bins, labels=group_names).head()

In [68]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25

In [72]:
age_df = df.groupby("age_group")
age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,NaN
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,NaN
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,NaN
8,8,Undjask33,22,Male,21,Souleater,1.10,NaN
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,NaN

In [73]:
age_df["age_group"].count()

age_group
0-10     0
10-15    0
15-20    0
20-25    4
25-30    0
30-35    0
35-40    0
40+      1
Name: age_group, dtype: int64

### Trouble Areas

1- groupby not working properly in above two sections. <br>
2- Nan Values after binning. <br>
3- Can't figure out the logic in 'age demographics'. <br>

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25

In [74]:
bins = [0,10,14,19,24,29,34,39,100]
group_names = ["0-10", "10-15", "15-20", "20-25", "25-30", "30-35", "35-40", "40+"]

In [75]:
df["age_group"] = pd.cut(df["Age"], bins, labels=group_names).head()

In [76]:
df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+

In [78]:
df["age_group"].isna().sum()

775

In [79]:
df["age_group"].value_counts()

20-25    4
40+      1
35-40    0
30-35    0
25-30    0
15-20    0
10-15    0
0-10     0
Name: age_group, dtype: int64

In [81]:
total_price = df['Price'].sum()
print(total_price)

avg_purch_price = total_price/total_players
print(avg_purch_price)

2379.77
4.131545138888889

In [83]:
analysis_df = df.groupby("age_group")
analysis_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,NaN
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,NaN
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,NaN
8,8,Undjask33,22,Male,21,Souleater,1.10,NaN
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,NaN

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80